<h1 class='text-center'>Members total expenses</h1>

<% @members.each do |member| %>
  <ul class='details'>
    <li><%= member.name %></li>
    <li>$<%= member.expenses.total_amount %></li>
  </ul>
<% end %>
