<nav class='navbar'>
  <a href=<%= authenticated_root_path %> class='logo'>
    <img src="<%= asset_path( 'money.svg' ) %>" height='30' width='40' />
    ExpensesRegulator
  </a>
  <a href=<%=authenticated_root_path%> class='burger'>
    <span></span>
    <span></span>
    <span></span>
  </a>
</nav>
