@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
$base-color: #3778c2;
$second-color: white;
$third-color: #434b54;
$fourth-color: #5fb523;
$alert-color: rgb(250, 6, 6);
$dark-color: black;
