/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_*
 */
.notice,
.alert {
  color: green;
  text-align: center;
  font-size: 17px;
  position: absolute;
}

body {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 375px;
  overflow-x: hidden;
  background-color: rgb(241, 243, 242);
}

.login-back,
.profile-background {
  background-color: #3778c2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

nav h1 {
  color: white;
}

.login-back h1 {
  text-align: center;
  color: white;
}

.profile-name {
  text-align: center;
  color: white;
}

.profile-links {
  list-style-type: none;
}

.profile-links li {
  margin: 30px;
  border-bottom: white solid 2px;
  padding: 10px;
}

.profile-links a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.amount {
  padding: 20px;
  margin: 0 10px 10px 10px;
  border: rgba(185, 185, 185, 0.5) 1px solid;
  display: flex;
  justify-content: space-between;
}

.expenses-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 15px 15px 15px;
  border: rgba(185, 185, 185, 0.5) 1px solid;
  color: #989b96;
  font-size: 17px;
  text-decoration: none;
}

.transaction li {
  list-style-type: none;
  margin: 10px;
}

.new-expense {
  position: absolute;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #5fb523;
  width: 100%;
  font-size: 20px;
  border: 1px solid white;
}

.new-expense:hover {
  color: white;
  text-decoration: none;
}

.icons {
  height: 50px;
  width: 50px;
}

nav {
  height: 70px;
  background-color: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger div {
  background-color: white;
  height: 2.3px;
  width: 30px;
  margin: 10px;
}

.search-icon {
  background: asset-url('magnifying-glass.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
}

.back {
  height: 30px;
  background-color: #3778c2;
}

.back-arrow {
  background: asset-url('back-arrow.svg');
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  margin-left: 20px;
  height: 30px;
  width: 30px;
}

a:hover {
  text-decoration: none;
}

.edit-link {
  text-decoration: none;
  color: #3778c2;
}

.delete-link {
  text-decoration: none;
  color: red;
}

.selecting-avatar {
  display: flex;
}
