<nav class='nav'>
  <a href='/' class='burger'>
    <div></div>
    <div></div>
    <div></div>
  </a>

  <h1>Members Expenses</h1>

  <div class='search-icon'></div>
</nav>
<div class='back'>
  <%= link_to '.', :back, class:'back-arrow' %>
</div>
<% @members.each do |member| %>
  <div class='expenses-details'>
    <span><%= member.uname %></span> <span>$<%= member.tot_amount %></span>
  </div>
<% end %>