<h1 class='expenses-title'>Ungrouped expenses</h1>

<div class='details'>
  <h3>Total amount</h3>
  <h3>$<%= @ungrouped_amount %></h3>
</div>

<%= render partial: 'shared/expense', collection: @ungrouped_expenses %>

<%= link_to 'Add New Transaction', new_expense_path, class: 'btn btn-success' %>
